@model IList<TrainReservation.ViewModels.ReservationViewModel>

    
    <div class="d-flex justify-content-between  ml-5 mr-5 pl-5 pr-5">
        <h5>Choosing places</h5>
        <h5>Passenger data</h5>
        <h5>Payment</h5>
    </div>

    <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
<br />
<form asp-action="PessengerData" asp-controller="Reservation" method="post">

 

    @for (int j = 0; j < Model.Count; j++)
    {
        <input type="hidden" asp-for="@Model[j].Discounts" />
        <input type="hidden" asp-for="@Model[j].Reservation.Id" />
        <input type="hidden" asp-for="@Model[j].Reservation.SeatId" />
        <input type="hidden" asp-for="@Model[j].Reservation.Seat" />
        <input type="hidden" asp-for="@Model[j].Reservation.TrainReservationUser" />
        <input type="hidden" asp-for="@Model[j].Reservation.TrainReservationUserId" />
        <input type="hidden" name="TrainId" value="@ViewBag.TrainId" />

        <div class="card">
            <div class="card-header">
                <h5 class="text-primary">Seat Number: @Model[j].Reservation.Seat.SeatNumber</h5>
                <h6>Price: @Model[j].Reservation.Seat.Price</h6>
            </div>
            <div class="card-body">
                <div class="form-group" style="display:flex">
                    <label for="name" class="col col-form-label">Name:</label>
                    <input type="text" asp-for="@Model[j].Reservation.PassengerName" class="form-control" id="name" />

                    <label for="surname" class="col col-form-label">Surname:</label>
                    <input type="text" asp-for="@Model[j].Reservation.PassengerSurname" class="form-control" id="surname" />

                    <label asp-for="@Model[j].Reservation.Discount" class="col col-form-label">Discount</label>
                    <select asp-for="@Model[j].Reservation.DiscountId" class="form-control" asp-items="Model[j].Discounts"></select>
                </div>
            </div>
        </div>

        <br />

    }
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

